<div class="container-fluid">
	<footer class="footer">
		<small>
			<p>Copyright &copy MyCompanny | By love with <a href="https://www.prithvirajpillai.com">prithviraj m pilai</a></p> 
				
		</small>
		<nav>
		<ul>
			<li><%= link_to "About",pages_about_path %></li>
		</ul>
		</nav>
	</footer>
</div>